# Docker Configuration
APP_IMAGE_TAG=latest
DOCKER_BUILD_MODE=prod
DOCKER_NETWORK=server-common-network

# Application settings
APP_PORT=1053
TIMEZONE=UTC

# UID & GID
UID=1000
GID=1000

# API Configuration
TECH_SUMMARIZED_BASE_URL=https://techsummarized.com/apis

# Next.js Configuration
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1